html {
  background: #161C48;
  color: #FFFFFF;
  text-align: center;
  padding: 10vh 10px 0;
  font-family: sans-serif;
}

h1 {
  color: #FFD1BA;
  font-family: 'VT323', sans-serif;
  font-size: 50px;
}

input {
  margin: 20px 0;
}
#score-container {
  background: white;
  width: 240px;
  margin: 10px auto;
  padding: 5px;
}

#score {
  font-size: 80px;
  color: black;
}

button {
  margin: 0 20px 20px;
  background: #F7E2C7;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 2px 16px;
}

#reset {
  background: #BAEEF8;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 2px 16px;
  color: #161C48;
}
